---

# What is Python?

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:

- web development (server-side),
- software development,
- mathematics,
- system scripting.

## What can Python do?

- Python can be used on a server to create web applications.
- Python can be used alongside software to create workflows.
- Python can connect to database systems. It can also read and modify files.
- Python can be used to handle big data and perform complex mathematics.
- Python can be used for rapid prototyping, or for production-ready software development.

## Why Python?

- Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
- Python has a simple syntax similar to the English language.
- Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
- Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
- Python can be treated in a procedural way, an object-oriented way or a functional way.

## Good to know

- The most recent major version of Python is Python 3, which we shall be using in this tutorial. However, Python 2, although not being updated with anything other than security updates, is still quite popular.
- In this tutorial Python will be written in a text editor. It is possible to write Python in an Integrated Development Environment, such as Thonny, Pycharm, Netbeans or Eclipse which are particularly useful when managing larger collections of Python files.

---

# Python Syntax

In [ ]:
print("Hello, World!")

## Python Indentation

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Python will give you an error if you skip the indentation:

In [ ]:
if 5 > 2:
print("Five is greater than two!")

Compare with C Language

```
if(5>2){
  printf("Five is greater than two!")
}
```

---

# Python Comment

Comments starts with a `#`, and Python will ignore them:

In [ ]:
#This is a comment
print("Hello, World!")

print("Hello, World!") #This is a comment

#print("Hello, World!")
print("Cheers, Mate!")

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

---

# Python Variables

## Creating Variables

Variables are containers for storing data values.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

In [ ]:
x

In [ ]:
y

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

##Casting
If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [ ]:
x = 3
x = float(x)
x

In [ ]:
x = 3
x = str(x)
x

In [ ]:
x = '3'
x = int(x)
x

## Get the Type

You can get the data type of a variable with the `type()` function.

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

## Single or Double Quotes?

String variables can be declared either by using single or double quotes:

In [ ]:
x = "John"
# is the same as
x = 'John'

## Case-Sensitive

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

In [ ]:
a

In [ ]:
A

##Many Values to Multiple Variables
Python allows you to assign values to multiple variables in one line:

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

## Output Variables

The Python `print()` function is often used to output variables.

In [ ]:
x = "Python is awesome"
print(x)

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

In [ ]:
x = 1
y = 2
z = 3
print(x + y + z)

In [ ]:
x = 5
y = "John"
print(x + y)

In [ ]:
x = 5
y = "John"
print(str(x) + ' ' + y)

In [ ]:
print(f'Hello World')

In [ ]:
print(f'{y} is {x} years old')

In [ ]:
print(f'{y} is {x+x} years old')

---

# Python Data Types

## Built-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

- Text Type: `str`
- Numeric Types: `int, float, complex`
- Sequence Types: `list, tuple, range`
- Mapping Type: `dict`
- Set Types: `set, frozenset`
- Boolean Type: `bool`
- Binary Types: `bytes, bytearray, memoryview`
- None Type: `NoneType`

### int

In [ ]:
x = 5
print(type(x))

### string

In [ ]:
x = 'CPE 37'
print(type(x))

### float

In [ ]:
x = 5.567
print(type(x))

### complex

In [ ]:
x = 1j
print(type(x))

### list

In [ ]:
x = ["apple", "banana", "cherry"]
print(type(x))

### tuple

In [ ]:
x = ("apple", "banana", "cherry")
print(type(x))

### dict

In [ ]:
x = {"name" : "John", "age" : 36}
print(type(x))

### bool

In [ ]:
x = True
print(type(x))

### None

In [ ]:
x = None
print(type(x))

---

# Python Booleans

Booleans represent one of two values: True or False.

In [ ]:
print(10 > 9)

In [ ]:
print(10 == 9)

In [ ]:
print(10 < 9)

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

---

# Python Operators

Operators are used to perform operations on variables and values.

## Python Arithmetic Operators

### Addition

In [ ]:
print(10 + 5)

### Subtraction

In [ ]:
print(10 - 5)

### Multiplication

In [ ]:
print(10 * 5)

### Division

In [ ]:
print(10 / 5)

### Modulus

In [ ]:
print(10 % 3)

### Exponentiation

In [ ]:
print(10 ** 3)

### Floor division

In [ ]:
print(10 // 3)

## Python Assignment Operators

In [ ]:
x=0

for i in range(3):
  x=x+5
print(x)

In [ ]:
x=0

for i in range(3):
  x+=5
print(x)

In [ ]:
for i in range(3):
  x-=2
print(x)

## Python Comparison Operators

### Equal

In [ ]:
x = 5
y = 10

x == y

### Not equal

In [ ]:
x = 5
y = 10

x != y

### Greater than

In [ ]:
x = 5
y = 10

x > y

### Less than

In [ ]:
x = 5
y = 10

x < y

### Greater than or equal to

In [ ]:
x = 10
y = 10

x >= y

In [ ]:
x = 8
y = 10

x >= y

### Less than or equal to

In [ ]:
x = 8
y = 10

x <= y

## Python Logical Operators

Logical operators are used to combine conditional statements:

### and

In [ ]:
x = 20
x < 5 and  x < 10

### or

In [ ]:
x = 20
x < 5 or x < 10

In [ ]:
x = 8
x < 5 or x < 10

### not

In [ ]:
not(x < 5 and x < 10)

## Python Membership Operators

Membership operators are used to test if a sequence is presented in an object:

In [ ]:
x = ["apple", "banana"]

print("banana" in x)

---

# Non-primitive

> Non-primitive data types, also called reference data types, are data structures like arrays, strings, classes, and objects that are not built-in to a programming language and require the creation of a new instance to store data
> แปล: Non-primitive คือ ชนิดข้อมูลที่ไม่ใช่ primitive หรือชนิดข้อมูลพื้นฐาน ซึ่งเป็นโครงสร้างข้อมูลเช่น อาร์เรย์, สตริง, คลาส, และออบเจ็กต์ ที่ไม่ได้มีอยู่ในภาษาโปรแกรมมิ่งและต้องสร้างอินสแตนซ์ใหม่เพื่อเก็บข้อมูล

For Student Who already learn some basic python. You can move to [Trip and Trick](#trick-for-non-primitive-data-types) section for learn some trick for non-primitive data types(maybe you don't know before). or you can move to [Exercise](#exercise-for-non-primitive-data-types) section for practice your skill(no graded).

## List of Non-primitive data types

I will list some of the non-primitive data types that are commonly used in programming languages.

1. [List](##1-list)
2. [Tuple](##2-tuple)
3. [Set](##3-set)
4. [Dictionary](##4-dictionary)

## 1. List

Lists are used to store multiple items in a single variable.

### Creating a List

to create list variable in python, you can use square brackets `[]` and separate the items with commas `,` or use the `list()` constructor.
\
แปลงข้อมูลให้อยู่ในรูปของ list โดยใช้ `list()` หรือใช้ `[]` และคั่นด้วย `,`

1. Using square brackets `[]`
   <br>
   Example:

In [ ]:
# Creating a list containing three strings
fruits = ["apple", "banana", "cherry"]

# displaying the list
print(fruits) # ['apple', 'banana', 'cherry']

2. Using the `list()` to create a list
   <br>
   Example:

In [ ]:
# Creating an empty list
empty_array = list()

print(empty_array) # []

### Accessing elements of a list

to access elements of a list, we use the **index** of the element(`some_list[0]`)
\
แปล: เพื่อเข้าถึงข้อมูลใน list ให้ใช้ **index** ของข้อมูล(`some_list[0]`)
\
\
**Index** is the position of an element in a list. The index starts from 0.
\
แปล: **index** คือ ตำแหน่งของข้อมูลใน list โดยเริ่มต้นจาก 0 เวลาเรียกใช้ข้อมูลใน list จะใช้ index ในการเรียก

In [ ]:
# creating a list
fruits = ["apple", "banana", "cherry"]

# displaying the first element of the list
print(fruits[0]) # apple

You can also access elements from the end of the list using negative index. (-1 is the last element, -2 is the second last element and so on)
\
แปล: เราสามารถเรียกใช้ข้อมูลจากท้ายของ list ได้โดยใช้ index ลบ โดย -1 คือข้อมูลสุดท้าย -2 คือข้อมูลก่อนสุดท้าย ไล่ย้อนกลับไปเรื่อยๆ

In [ ]:
# creating a list
cars = ["Ford", "Volvo", "BMW"]

# displaying the last element of the list
print(cars[-1]) # BMW

# displaying the second last element of the list
print(cars[-2]) # Volvo

We can also access a range of items in a list by using the **slicing operator** (`:`).
\
แปล: เราสามารถเรียกใช้ข้อมูลใน list โดยใช้ **slicing operator** (`:`)
\

#### Slicing Trivia

1. **Normal Index Slicing format**: `some_list[start:end]`
2. **Select from start to some index**: `some_list[:end]`
3. **Select from some index to end**: `some_list[start:]`
4. **Select from start to end with step**: `some_list[start:end:step]`

> **Info**: The slicing operator returns a new list with the selected elements. The original list remains unchanged. You can prove this by printing the original list after slicing.

> **Note**: If you try to access an index that is out of range, you will get an `IndexError`. If you try to access a non-existent key, you will get a `KeyError`.

> **Note**: You can also access reverse elements of a list using the slicing operator with a negative step.

In [ ]:
# create a list from a magic method. explain this trick later :)
foo = [i for i in range(0, 30)]

# displaying the list from index 5 to 10(return 6th to 10th element)
print(foo[5:10]) # [5, 6, 7, 8, 9] 

# displaying the list from start to index 5(return 1st to 5th element)
print(foo[:5]) # [0, 1, 2, 3, 4]

# displaying the list from index 5 to end(return 6th to last element)
print(foo[5:]) # [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

# displaying the list from index 5 to 10 with a step of 2
print(foo[5:20:2]) # [5, 7, 9, 11, 13, 15, 17, 19]

# displaying the reversed list
print(foo[::-1]) # [29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# or (display last 4 elements in reverse order)
print(foo[-1:-5: -1]) # [29, 28, 27, 26]

### Modifying elements of a list

You can modify the elements of a list by assigning new values to the elements using the index of the element.
\
แปล: เราสามารถแก้ไขข้อมูลใน list โดยการกำหนดค่าใหม่ให้กับข้อมูลโดยใช้ index ของข้อมูล

In [ ]:
# creating a list
fruits = ["apple", "banana", "cherry"]

# displaying current list
print(fruits) # ['apple', 'banana', 'cherry']

# updating the second element of the list
fruits[1] = "blackcurrant"

# displaying the updated list
print(fruits) # ['apple', 'blackcurrant', 'cherry']

We can update multiple elements in a list using the slicing operator.
\
แปล: สามารถอัพเดทหลายๆ ข้อมูลใน list โดยใช้ slicing operator

```
some_list[start:end] = [new_values]
```

In [ ]:
# creating a list
fruits = ["apple", "banana", "cherry", "date"]

# displaying current list
print(fruits) # ['apple', 'banana', 'cherry', 'date']

# updating the second and third element of the list
fruits[1:3] = ["blackcurrant", "blueberry"]

# displaying the updated list
print(fruits) # ['apple', 'blackcurrant', 'blueberry', 'date']

Other than this. We can also add elements to a list using the `append()` method. or insert elements at a specific index using the `insert()` method and remove elements from a list by specifying the value to remove using the `remove()` method and use `pop()` to remove the last element of the list which we can store the value of the removed element.
\
แปล: นอกจากนี้เรายังสามารถเพิ่มข้อมูลใน list โดยใช้ methodที่มีชื่อว่า `append()` หรือเพิ่มข้อมูลใน index ที่กำหนดโดยใช้ `insert()` และลบข้อมูลใน listด้วยการกำหนดค่าที่จะลบ โดยใช้ `remove()` ได้นั่นเอง และใช้ `pop()` ในการลบข้อมูลสุดท้ายของ list ซึ่งเราสามารถเก็บค่าข้อมูลที่ถูกลบไว้ได้

In [ ]:
# creating a list
fruits = ["apple", "banana", "cherry", "date"]

# displaying current list
print(fruits) # ['apple', 'banana', 'cherry', 'date']

# appending a new element to the list
fruits.append("elderberry")

# displaying the updated list
print(fruits) # ['apple', 'banana', 'cherry', 'date', 'elderberry']

# inserting a new element at index 1
fruits.insert(1, "blackcurrant")

# displaying the updated list
print(fruits) # ['apple', 'blackcurrant', 'banana', 'cherry', 'date', 'elderberry']

# remove the 2nd element of the list using remove method
fruits.remove("blackcurrant")

# displaying the updated list
print(fruits) # ['apple', 'banana', 'cherry', 'date', 'elderberry']

# pop the last element of the list
pop_value = fruits.pop()

# displaying the updated list
print(fruits) # ['apple', 'banana', 'cherry', 'date']
# displaying the popped value
print(pop_value) # elderberry

**Special trick**: for remove value in list by index, you can use `del some_list[index]`

In [ ]:
# creating a list
fruits = ["apple", "banana", "cherry", "date"]

# removing the 2nd element of the list using del keyword
del fruits[1]

# displaying the updated list
print(fruits) # ['apple', 'cherry', 'date']

They have a lot of methods that you can use to manipulate the list. You can check the [official documentation](https://docs.python.org/3/tutorial/datastructures.html) for more information.
\
แปล: มี method อีกมากมายที่เราสามารถใช้ในการจัดการ list สามารถดูเพิ่มเติมได้ที่ [official documentation](https://docs.python.org/3/tutorial/datastructures.html)

Some Example of methods:

In [ ]:
# creating a list
fruits = ["I", " ", "l", "o", "v", "e", " ", "p", "y", "t", "h", "o", "n", "aa"]

# sorting the list
fruits.sort() 
print(fruits) # will sort by ascii value [' ', ' ', 'I', 'a', 'e', 'h', 'l', 'n', 'o', 'o', 'p', 't', 'v', 'y']

# joining the 2 lists
fruits = ["apple", "banana", "cherry"]
cars = ["Ford", "Volvo", "BMW"]
print(fruits + cars) # ['apple', 'banana', 'cherry', 'Ford', 'Volvo', 'BMW']

# Bra Bra Bra, a lot of methods to learn :\

## 2. Tuple

Tuples are used to store multiple items in a single variable. A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets(`()`).
\
The main difference between a list and a tuple is that lists are **mutable** while tuples are **immutable**. Once a tuple is created, you <span style="color:red">cannot change its values</span>. You can access the elements of a tuple using the index of the element.
\
\
แปล: Tuples ใช้ในการเก็บข้อมูลหลายๆ ข้อมูลในตัวแปรเดียว โดย tuple คือ collection ที่เรียงลำดับและไม่สามารถเปลี่ยนแปลงได้ ใน Python tuple จะถูกเขียนด้วยวงเล็บกลม `()`
\
เอาง่ายๆคือมัน<span style="color:red">ไม่สามารถแก้ไขค่า</span>ได้หลังจากที่ประกาศ Tupleไว้แล้วนั้นเอง

**Use case in Tuple**

- Coordinate system(x,y,z)
- RGB color system

### Creating a Tuple

to create a tuple variable in python, you can use round brackets `()` and separate the items with commas `,` or use the `tuple()` constructor.
\
แปล: สร้างตัวแปร tuple ใน python โดยใช้วงเล็บกลม `()` และคั่นด้วย `,` หรือใช้ `tuple()` ได้

1. Using round brackets `()`
   <br>
   Example:

In [ ]:
# creating a tuple
coordinate = (1, 2, 3) # (x, y, z)

# displaying the tuple
print(coordinate) # (1, 2, 3)

2. Using the `tuple()` to create a tuple
   <br>
   Example:

In [ ]:
# create a tuple using tuple() method
coordinate = tuple((1, 2, 3)) # It also use `()` inside `tuple()` method eiei

# displaying the tuple
print(coordinate) # (1, 2, 3)

3. Special Trick: Creating a tuple with a single element
   \
   Example:

In [ ]:
coordinate = 1, 2, 3

# displaying the tuple
print(coordinate) # (1, 2, 3)

### Accessing elements of a tuple

like lists, you can access elements of a tuple using the index of the element.

In [ ]:
# creating a tuple
fruits = ("apple", "banana", "cherry")

# displaying the first element of the tuple
print(fruits[0]) # apple

# displaying the last element of the tuple
print(fruits[-1]) # cherry

### Modifying elements of a tuple

As mentioned earlier, `tuples` are immutable. You <span style="color:red">cannot change the values of a `tuple`</span> once it is created. But you can convert a `tuple` to a `list`, change the values of the `list`, and convert it back to a `tuple`.
\
แปล: อย่างที่ได้บอกไปคือ `tuple` <span style="color:red">ไม่สามารถเปลี่ยน</span> ค่าของ `tuple`ได้หลังจากที่สร้าง tuple ไว้แล้ว แต่เราสามารถแปลง tuple เป็น list และเปลี่ยนค่าของ list และแปลงกลับเป็น tuple ได้

In [ ]:
# creating a tuple
fruits = ("apple", "banana", "cherry")

# try to update the second element of the tuple
fruits[1] = "blackcurrant" # TypeError: 'tuple' object does not support item assignment

In [ ]:
# creating a tuple
fruits = ("apple", "banana", "cherry")

# To update the tuple, convert it to a list then update it
x = list(fruits)
x[1] = "blackcurrant"
fruits = tuple(x)

# displaying the updated tuple
print(fruits) # ('apple', 'blackcurrant', 'cherry')

### Tuple Methods

Tuples have only two methods `count()` and `index()`. You can check the [official documentation](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences) for more information.
\
แปล: Tuple มีเพียง 2 method คือ `count()` และ `index()` สามารถดูเพิ่มเติมได้ที่ [official documentation](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences)

## 3. Set

Sets are used to store multiple items in a single variable. A set is a collection which is <span style="color:red">unordered</span> and <span style="color:red">unindexed</span>. In Python sets are written with curly brackets(`{}`).
\
The main difference between a set and a list is that sets are **unordered** and **unindexed**. You <span style="color:red">cannot access items in a set by referring to an index</span>, since sets are unordered the items has no index.
\
\
แปล: Set ใช้ในการเก็บข้อมูลหลายๆ ข้อมูลในตัวแปรเดียว โดย set คือ collection ที่ไม่เรียงลำดับและไม่มี index ใน Python set จะถูกเขียนด้วยวงเล็บปีกกา `{}`
\
ความแตกต่างหลักๆระหว่าง set กับ list คือ set ไม่เรียงลำดับและไม่มี index คุณ<span style="color:red">ไม่สามารถเข้าถึงข้อมูลใน set โดยการอ้างอิง index</span> เนื่องจาก set ไม่เรียงลำดับ ข้อมูลไม่มี index

**Use case in Set**

- Keep the Unique values
- Mathematical **set operations**

### Creating a Set

to create a set variable in python, you can use curly brackets `{}` or use the `set()` constructor.
\
แปล: สร้างตัวแปร set ใน python โดยใช้วงเล็บปีกกา `{}` หรือใช้ `set()` ได้

In [ ]:
# create a set
fruits = {"apple", "banana", "cherry"}

# displaying the set
print(fruits) # {'apple', 'banana', 'cherry'}

### Accessing elements of a set

You <span style="color:red">cannot access items in a set by referring to an index</span>, since sets are unordered the items has no index. But you can loop through the set items using a `for` loop, or ask if a specified value is present in a set, by using the `in` keyword.
\
แปล: เราจะ<span style="color:red">ไม่สามารถเข้าถึงข้อมูลใน set โดยการอ้างอิง index</span> เนื่องจาก set ไม่เรียงลำดับ ข้อมูลไม่มี index แต่คุณสามารถวนลูปผ่านข้อมูลใน set โดยใช้ `for` loop เพื่อตรวจสอบว่าค่าที่ระบุอยู่ใน set หรือไม่ โดยใช้ `in` keyword

In [ ]:
# create a set
fruits = {"apple", "banana", "cherry"}

# try to access the set using index
print(fruits[0]) # TypeError: 'set' object is not subscriptable

In [ ]:
# create a set
fruits = {"apple", "banana", "cherry"}

# accessing the set using for loop
for x in fruits:
    if x == "banana":
        print(x)

### Modifying elements of a set

To update the items in a set, you can use the `add()` method to add a single item, and the `update()` method to add multiple items. and you can remove an item in a set using the `remove()` method, or use the `discard()` method which will not raise any error if the item does not exist in the set.
\
แปล: เพื่ออัพเดทข้อมูลใน set คุณสามารถใช้ method `add()` เพื่อเพิ่มข้อมูลเดี่ยว และ method `update()` เพื่อเพิ่มหลายๆ ข้อมูล และคุณสามารถลบข้อมูลใน set โดยใช้ method `remove()` หรือใช้ method `discard()` ซึ่งจะไม่เกิดข้อผิดพลาดหากข้อมูลไม่มีอยู่ใน set

In [ ]:
# create a set
fruits = {"apple", "banana", "cherry"}

# adding a new element to the set
fruits.add("date")

# displaying the updated set
print(fruits) # {'apple', 'banana', 'cherry', 'date'}

# recreate a set
fruits = {"apple", "banana", "cherry"}

# adding multiple elements to the set
fruits.update(["date", "elderberry"])

# removing an element from the set
fruits.remove("banana")

# displaying the updated set
print(fruits) # {'apple', 'cherry', 'date', 'elderberry'}

# create a set
fruits = {"apple", "banana", "cherry"}

# removing an element from the set
fruits.discard("banana")

# displaying the updated set
print(fruits) # {'apple', 'cherry'}

#### Set Operations

1. **Union**: `set1.union(set2)` or `set1 | set2`
2. **Intersection**: `set1.intersection(set2)` or `set1 & set2`
3. **Difference**: `set1.difference(set2)` or `set1 - set2`
4. **Symmetric Difference**: `set1.symmetric_difference(set2)` or `set1 ^ set2`
5. **Subset**: `set1.issubset(set2)` or `set1 <= set2`
6. **Superset**: `set1.issuperset(set2)` or `set1 >= set2`
7. **Disjoint**: `set1.isdisjoint(set2)`
8. **Update**: `set1.update(set2)` or `set1 |= set2`
9. **Intersection Update**: `set1.intersection_update(set2)` or `set1 &= set2`
10. **Difference Update**: `set1.difference_update(set2)` or `set1 -= set2`
    etc.(it too many to list here!! see more in [official documentation](https://docs.python.org/3/library/stdtypes.html#set))

In [ ]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

# union of 2 sets
print(a | b) # {1, 2, 3, 4, 5, 6, 7, 8}

# intersection of 2 sets
print(a & b) # {4, 5}

# difference of 2 sets
print(a - b) # {1, 2, 3}

# symmetric difference of 2 sets
print(a ^ b) # {1, 2, 3, 6, 7, 8}

## 4. Dictionary

Dictionaries are used to store data values in `key`:`value` pairs. A dictionary is a collection which is <span style="color:red">unordered</span>, <span style="color:green">changeable</span> and <span style="color:green">indexed</span>. In Python dictionaries are written with curly brackets(`{}`) and they have keys and values.
\
แปล: Dictionaries ใช้ในการเก็บข้อมูลในรูปแบบ `key`:`value` คือ collection ที่ไม่เรียงลำดับ, สามารถเปลี่ยนแปลงได้ และมี index ใน Python dictionaries จะถูกเขียนด้วยวงเล็บปีกกา `{}`
\
\
**Use case in Dictionary**
\
The usecase of dictionary is very wide, you can use it to store data in a structured way. Some of the use cases are:

- Store user data
- Store configuration data
- Store data in a structured way

**Note**: Key of a dictionary is unique. and Can be anythings that can **hash**(mostly string, number and even tuple)
\
แปล: Key ของ dictionary ต้องเป็น unique และสามารถเป็นอะไรก็ได้ที่สามารถ **hash** ได้(โดยทั่วไปคือ string, number และ tuple)

In [ ]:
# create a dictionary
person = {
    "name": "John",
    "age": 36,
    "country": "Norway"
}

# displaying the dictionary
print(person) # {'name': 'John', 'age': 36, 'country': 'Norway'}

In [ ]:
tuple_key = 1,2,3

some_dict = {
    tuple_key: "value",
    "key": "value",
    "key2": "value"
}

print(some_dict) # {(1, 2, 3): 'value', 'key': 'value', '

In [ ]:
# some invalid key
set_key = {1, 2, 3}
some_dict = {
    set_key: "value",
    "key": "value",
    "key2": "value"
}

In [ ]:
# some invalid key(directly use list or tuple as key)
some_dict = {
    [1, 2, 3]: "value",
    "key": "value",
    "key2": "value"
}

But **frozen set** is also hashable, so you can use it as a key in a dictionary.
\
แปล: แต่ **frozen set** ก็สามารถ hash ได้ดังนั้นคุณสามารถใช้มันเป็น key ใน dictionary

In [ ]:
frozenset_key = frozenset({1, 2, 3})

some_dict = {
    frozenset_key: "value",
    "key": "value",
    "key2": "value"
}

print(some_dict) # {frozenset({1, 2, 3}): 'value', 'key

### Accessing elements of a dictionary

We commonly access the value of a dictionary using the key of the element.
\
แปล: เราสามารถเข้าถึงค่าของ dictionary โดยใช้ key ของข้อมูล

In [ ]:
# create a dictionary
person = {
    "name": "John",
    "age": 36,
    "country": "Norway"
}

# displaying dictionary value using key
print(person["name"]) # John

Or you can use the `get()` method to access the value of a key.
\
แปล: หรือคุณสามารถใช้ method `get()` เพื่อเข้าถึงค่าของ key

Here! a reason that you should use `get()` method instead of `[]` to access the value of a key.
\
แปล: นี่คือเหตุผลที่คุณควรใช้ method `get()` แทน `[]` เพื่อเข้าถึงค่าของ key

In [ ]:
# create a dictionary
person = {
    "name": "John",
    "age": 36,
    "country": "Norway"
}

# try to access a key that does not exist
print(person["eiei"]) # KeyError: 'eiei'

In [ ]:
# create a dictionary
person = {
    "name": "John",
    "age": 36,
    "country": "Norway"
}

# displaying dictionary value using get method with a key that does not exist(it will return None)
print(person.get("eiei")) # John

### Modifying elements of a dictionary

You can change the value of a specific item by referring to its key name. and you can add a new item to the dictionary by using a new index key and assigning a value to it or you can use the `update()` method to add multiple items to the dictionary.
\
แปล: คุณสามารถเปลี่ยนค่าของข้อมูลใน dictionary โดยการใช้ key ของข้อมูล และคุณสามารถเพิ่มข้อมูลใหม่ใน dictionary โดยการใช้ key ใหม่และกำหนดค่าให้กับมันได้เลย หรือคุณสามารถใช้ method `update()` เพื่อเพิ่มหลายๆ ข้อมูลใน dictionary!

In [ ]:
# create a dictionary
person = {
    "name": "John",
    "age": 36,
    "country": "Norway"
}

# updating the dictionary
person["age"] = 40

# displaying the updated dictionary
print(person) # {'name': 'John', 'age': 40, 'country': 'Norway'}

# update using update method
person.update({"age": 50})

# displaying the updated dictionary
print(person) # {'name': 'John', 'age': 50, 'country': 'Norway'}

There are a lot of methods that you can use to access the dictionary. You can check the [official documentation](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict) for more information.
\
But I will give you some example of methods:

#### Dictionary data accessing Methods

1. `keys()`: Return a list of all keys in the dictionary
2. `values()`: Return a list of all values in the dictionary
3. `items()`: Return a list of all key-value pairs in the dictionary
4. `pop()`: Remove the item with the specified key name
5. `popitem()`: Remove the last inserted item
6. `clear()`: Remove all the items in the dictionary
7. `copy()`: Return a copy of the dictionary
8. `fromkeys()`: Return a dictionary with the specified keys and values
9. `setdefault()`: Return the value of the specified key. If the key does not exist: insert the key, with the specified value
10. `update()`: Update the dictionary with the specified key-value pairs

In [ ]:
# create a dictionary
person = {
    "name": "John",
    "age": 36,
    "country": "Norway"
}

# display keys of the dictionary
print(person.keys()) # dict_keys(['name', 'age', 'country'])

# display values of the dictionary
print(person.values()) # dict_values(['John', 36, 'Norway'])

# display items of the dictionary
print(person.items()) # dict_items([('name', 'John'), ('age', 36), ('country', 'Norway')])

# pop an item from the dictionary
person.pop("age")

# displaying the updated dictionary
print(person) # {'name': 'John', 'country': 'Norway'}

# pop an item from the dictionary
person.popitem()

# displaying the updated dictionary
print(person) # {'name': 'John'}

# Bra Bra Bra, If you want to learn more about dictionary, you can check it out here https://www.w3schools.com/python/python_dictionaries.asp

## Trick for Non-primitive data types

I will give you some useful tricks for Non-primitive data types. You can use it to make your code more readable and efficient :>

1. Data Unpacking: You can unpack the data of a list, tuple, set or dictionary into separate variables following the order of the data.
   \
   แปล: คุณสามารถแยกข้อมูลของ list, tuple, set หรือ dictionary ออกเป็นตัวแปรแยกตามลำดับของข้อมูลได้ดังนี้

In [ ]:
# create a list
fruits = ["apple", "banana", "cherry"]

# unpacking the list
x, y, z = fruits

# displaying the unpacked values
print(x) # apple
print(y) # banana
print(z) # cherry

In [ ]:
# create a dictionary
person = {
    "name": "John",
    "age": 36,
    "country": "Norway"
}

# unpacking the dictionary
myname, myage, mycountry = person

# displaying the unpacked values(dict will unpack the keys)
print(myname) # name
print(myage) # age
print(mycountry) # country

Special Trick: You can use `*` to unpack the data of a list, tuple, set or dictionary into separate variables following the order of the data. and you can use `**` to unpack the data of a dictionary into separate variables following the order of the data.(will explain in **function trick** section)
\
แปล: สามารถใช้ `*` เพื่อแยกข้อมูลของ list, tuple, set หรือ dictionary ออกเป็นตัวแปรแยกตามลำดับของข้อมูล และใช้ `**` เพื่อแยกข้อมูลของ dictionary ออกเป็นตัวแปรแยกตามลำดับของข้อมูล(แต่เดี๋ยวไปอธิบายที่หัวข้อ **fucntion tric**)

In [ ]:
# create a list
fruits = ["apple", "banana", "cherry"]

# unpacking the list with * operator
x, *y = fruits

# displaying the unpacked values
print(x) # apple
print(y) # ['banana', 'cherry']

2. You can ignore some value in unpacking data by using `_` as a variable name.(it just a convention)
   \
   แปล: เราสามารถทิ้งค่าที่เราไม่สนใจได้โดยการใช้ `_` เป็นชื่อตัวแปร(เป็นแค่ข้อตกลงที่ใช้ร่วมกัน ความจริงใช้ชื่ออะไรก็ได้)

In [ ]:
# create a list
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

# unpacking the list with with by ignoring the first 2 elements
_, _, *z = fruits

# displaying the unpacked values
print(z) # apple
print(_)

# unpacked first and last element
_, *z, _ = fruits

# displaying the unpacked values
print(z) # ['banana', 'cherry', 'date']

## Exercise for Non-primitive data types

1. Create a list that contain any 5 elements and type is **string**

In [57]:
# don't change variable name and function name PLEASE but can change the value of variable or process in function

# 1. Create a list that contain any 5 elements and type is string (~1 line of code)
a = None

2. Get the last element of the list using negative index

In [ ]:
b = [i for i in range(0, 50)]

# 2. Get the last element of the list using negative index(~1 line of code)
last_element = None

print(last_element) # 49

3. Unpack the data of the tuple and set the 2nd to 4th element to the variable b

In [ ]:
a = [i for i in range(0, 5)]
b = None
# 3. Unpack the data of the tuple and set the 2nd to 4th element to the variable b(~1 line of code)
_, _, _ = a

print(b) # [1, 2, 3]

---

# Loop and Condition

> Loop and Condition are the basic concept of programming. It is used to control the flow of the program and execute the code block multiple times. In this section, I will explain the basic concept of Loop and Condition in Python.
> แปล: Loop และ Condition คือ แนวคิดพื้นฐานของการเขียนโปรแกรม มันถูกใช้ในการควบคุมการทำงานของโปรแกรมและประมวลผลโค้ดหลายๆ ครั้ง ในส่วนนี้เราจะอธิบายแนวคิดพื้นฐานของ Loop และ Condition ใน Python

## Table of content for keyword you must understand before learn Loop and Condition

1. [in](#1-in)
2. [is](#2-is)

## Table of Content for Condition

1. [If Statement](##1-if-statement)
2. [If-else Statement](##2-if-else-statement)
3. [If-elif-else Statement](##3-if-elif-else-statement)

## Table of Content for Loop

1. [For Loop](##1-for-loop)
2. [While Loop](##2-while-loop)
3. [Loop Control Statement](##4-loop-control-statement)

For Student Who already learn some basic python. You can move to [Trip and Trick](#trick-for-loop-and-condition) section for learn some trick for loop and condition(maybe you don't know before). or you can move to [Exercise](#exercise-for-loop-and-condition) section for practice your skill(no graded).

## Keyword you must understand before learn Loop and Condition

### 1. in

`in` is used to check if a value is present in a sequence (list, tuple, set, dictionary, etc.). It returns `True` if the value is present, otherwise `False`.
\
แปล: `in` ใช้ในการตรวจสอบว่าค่าที่ระบุอยู่ในลำดับหรือไม่(list, tuple, set, dictionary, ฯลฯ) มันจะคืนค่า `True` ถ้าค่านั้นอยู่ในลำดับ มิฉะนั้นจะคืนค่า `False`
\
\
but in loop, `in` is used to iterate over a sequence (list, tuple, set, dictionary, string, etc.).
\
แปล: แต่ใน loop `in` ใช้ในการวนลูปผ่านลำดับ(list, tuple, set, dictionary, string, ฯลฯ)

In [ ]:
# create a list
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

print("apple" in fruits) # True

2. is

`is` is used to test if two variables are referring to the same object. It returns `True` if both variables are pointing to the same object, otherwise `False`.
\
แปล: `is` ใช้ในการทดสอบว่าตัวแปรสองตัวชี้ไปที่อ็อบเจ็กต์เดียวกันหรือไม่ มันจะคืนค่า `True` ถ้าทั้งสองตัวแปรชี้ไปที่อ็อบเจ็กต์เดียวกัน มิฉะนั้นจะคืนค่า `False`

> **Note**: to check two object is reference to the same object, you can use `id()` function to get the memory address of the object. and compare it.
> แปล: เพื่อตรวจสอบว่าสองอ็อบเจ็กต์ชี้ไปที่อ็อบเจ็กต์เดียวกัน คุณสามารถใช้ฟังก์ชัน `id()` เพื่อรับที่อยู่หน่วยความจำของอ็อบเจ็กต์ และเปรียบเทียบกัน

In [ ]:
# create two variables pointing to the same object
a = [1, 2, 3]
b = a

# create another variable pointing to a different object with the same value
c = [1, 2, 3]

# check if a and b refer to the same object
print(a is b)  # True

# check if a and c refer to the same object
print(a is c)  # False

# check if a and c have the same value
print(a == c)  # True

# use id() function to get the memory address of the object
print(id(a))  # memory address of a
print(id(b))  # memory address of b (same as a)
print(id(c))  # memory address of c (different from a and b)

## 1. If Statement

structure of if statement in python is:

```python
if condition:
    # code block if condition is True

# code block after if statement
```

The code block inside the `if` statement will only execute if the condition is `True`. If the condition is False, the code block will be skipped.
\
แปล: โค้ดใน `if` statement จะถูกทำงานเฉพาะเมื่อเงื่อนไขเป็น`True` ถ้าเงื่อนไขเป็นเท็จ โค้ดจะถูกข้ามไป

In [ ]:
# initialize a value of a and b
a = 5
b = 10

if a > b: # if a is greater than b
    print("a is greater than b") 
    
if a < b: # if a is less than b
    print("a is less than b") # this will be printed

You can use any value or expression that can be evaluated to `True` or `False` as a condition.
\
แปล: ใน pythonเราสามารถใช้อะไรก็ได้มาใช้เป็นเงื่อนไข ที่สามารถประเมินได้ว่าเป็น `True` หรือ `False`

In [ ]:
# initialize a value of a and b
a = "Banana"
b = "banana"

if a == b: # if a is equal to b
    print("a and b are equal") 
    
if a != b: # if a is not equal to b
    print("a and b are not equal") # this will be printed

## 2. If-else Statement

structure of if-else statement in python is:

```python
if condition:
    # code block if condition is True
else:
    # code block if condition is False

# code block after if-else statement

```

The code block inside the `if` statement will only execute if the condition is `True`. If the condition is False, the code block inside the `else` statement will execute.
\
แปล: โค้ดใน `if` statement จะถูกทำงานเฉพาะเมื่อเงื่อนไขเป็น`True` ถ้าเงื่อนไขเป็นเท็จ โค้ดใน `else` statement จะถูกทำงาน

In [ ]:
a = 5
b = 10

if a > b: # if a is greater than b
    print("a is greater than b")
else:
    print("a is not greater than b") # this will be printed

In [ ]:
a = [1, 2, 3]
b = 2

if b in a: # if b is in a
    print("b is in a") # this will be printed
else:
    print("b is not in a")

## 3. If-elif-else Statement

structure of if-elif-else statement in python is:

```python
if condition1:
    # code block if condition1 is True
elif condition2:
    # code block if condition2 is True
else:
    # code block if all condition is False

# code block after if-elif-else statement
```

The code block inside the `if` statement will only execute if the condition1 is `True`. If the condition1 is False, the code block inside the `elif` statement will execute. If all conditions are False, the code block inside the `else` statement will execute.
\
แปล: โค้ดใน `if` statement จะถูกทำงานเฉพาะเมื่อเงื่อนไข1เป็น`True` ถ้าเงื่อนไข1เป็นเท็จ โค้ดใน `elif` statement จะถูกทำงาน ถ้าเงื่อนไขทั้งหมดเป็นเท็จ โค้ดใน `else` statement จะถูกทำงาน

In [ ]:
a = 1

if a > 0:
    print("a is positive")
elif a == 0:
    print("a is zero")
else:
    print("a is negative")

## 1. For Loop

structure of for loop looks like this:

```python
for variable [some iterable]:
    # start process in loop
    ...
    # end process in loop

# process after loop
```

it use `for` keyword to start the loop and `:` to indicate the start of the loop. with `variable` is the variable that will store the value of the iterable in each iteration. and `some iterable` is the data that you want to loop through.
\
แปล: ใน for loop จะใช้ `for` keyword เพื่อเริ่มต้น loop และ `:` เพื่อบ่งบอกจุดเริ่มต้นของ loop โดย `variable` คือตัวแปรที่จะเก็บค่าของ iterable ในแต่ละรอบ และ `some iterable` คือข้อมูลที่คุณต้องการวน loop

> `iterable` is the data that you can loop through. It can be a list, tuple, set, dictionary, string, or range.
> \
> แปล: `iterable` คือข้อมูลที่คุณสามารถวน loopได้ ตัวอย่างเช่น list, tuple, set, dictionary, string หรือ range

In [ ]:
# create a list for loop
fruits = ["apple", "banana", "cherry"]
for x in fruits: # ftuit is a iterable object and use x to access the element
    print(x) # apple, banana, cherry

In [ ]:
for i in range(0, 10): # range is a iterable object and use i to access the element
    print(i) # 0, 1, 2, 3, 4, 5, 6, 7, 8, 9

Other than this, Python have a function to generate a sequence with an attached value like index or something like `enumerate()`, `zip()`.
\
แปล: นอกจากนี้ Python ยังมีฟังก์ชันที่สามารถสร้างลำดับข้อมูลพร้อมค่าที่แนบมาด้วย เช่น index หรืออะไรก็ตาม เช่น `enumerate()`, `zip()`

In [ ]:
# create a list
fruits = ["apple", "banana", "cherry"]

# using enumerate to get the index and value of the list
for index, value in enumerate(fruits): # enumerate is a iterable object and use index and value to access the element
    print(index, value) # 0 apple, 1 banana, 2 cherry

In [ ]:
# create a list
fruits = ["apple", "banana", "cherry"]
car = ["Ford", "Volvo", "BMW"]

# using zip to get the index and value of the list
for x, y in zip(fruits, car): # zip is a iterable object and use x and y to access the element
    print(x, y) # apple Ford, banana Volvo, cherry BMW

Some interesting trick for `for loop`:

In [ ]:
# create a list
coordinates = [(1, 2), (3, 4), (5, 6)]

# unpacking the list
for x, y in coordinates:
    print(x, y) # 1 2, 3 4, 5 6

## 2. While Loop

structure of while loop looks like this:

```python
while condition:
    # start process in loop
    ...
    # end process in loop

# process after loop

```

it use `while` keyword to start the loop and `:` to indicate the start of the loop. with `condition` is the condition that will be checked in each iteration. If the condition is `True`, the loop will continue. If the condition is `False`, the loop will stop.
\
แปล: ใน while loop จะใช้ `while` keyword เพื่อเริ่มต้น loop และ `:` เพื่อบ่งบอกจุดเริ่มต้นของ loop โดย `condition` คือเงื่อนไขที่จะถูกตรวจสอบในแต่ละรอบ หากเงื่อนไขเป็น `True` จะทำให้ loop ดำเนินต่อ แต่หากเงื่อนไขเป็น `False` จะทำให้ loop หยุด

In [ ]:
# set initial value
i = 0

# loop until i is less than 10
while i < 10:
    print(i) # 0, 1, 2, 3, 4, 5, 6, 7, 8,
    i += 1 # increment i by 1

## 3. Loop control statement

Python Have some loop control statement that you can use to control the flow of the loop. The loop control statement is:

1. `break`: to stop the loop before it has looped through all the items.
2. `continue`: to stop the current iteration of the loop, and continue with the next.
3. `pass`: to avoid getting an error, and the loop will continue to the next iteration.
4. `else`: to execute a block of code once when the condition is no longer true.
   \

แปล: Python มี loop control statement ที่คุณสามารถใช้ในการควบคุมการทำงานของ loop โดยมีดังนี้

1. `break`: เพื่อหยุด loop ก่อนที่จะวน loop ผ่านข้อมูลทั้งหมด
2. `continue`: เพื่อหยุดการวนรอบปัจจุบันของ loop และดำเนินการต่อไป
3. `pass`: เพื่อหลีกเลี่ยงการได้รับข้อผิดพลาด และ loop จะดำเนินการต่อไป
4. `else`: เพื่อทำการ execute block ของโค้ดเพียงครั้งเดียวเมื่อเงื่อนไขไม่เป็นจริง

> **Note**: `else` in loop is used to execute a block of code once when the condition is no longer true.
> \
> แปล: `else` ใน loop ใช้ในการ execute block ของโค้ดเพียงครั้งเดียวเมื่อเงื่อนไขไม่เป็นจริง

In [ ]:
print("start of break example")

for i in range(0, 10):
    if i == 5:
        break # exit the loop when i is 5
    print(i) # 0, 1, 2, 3, 4

print("end of break example")

In [ ]:
print("start of continue example")

for i in range(0, 10):
    if i == 5:
        continue # skip the current iteration when i is 5
    print(i) # 0, 1, 2, 3, 4, 6, 7, 8, 9
    
print("end of continue example")

In [ ]:
print("start of pass example")  

for i in range(0, 10):
    
    if i == 5:
        pass # do nothing when i is 5
    print(i) # 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
    
print("end of pass example")

In [ ]:
print("start of else example")

for i in range(0, 10):
    print(i) # 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
else:
    print("Loop is finished") # Loop is finished
    
print("end of else example")

## Trick for Loop and Condition

I will give you some useful tricks for Loop and Condition. You can use it to make your code more readable and efficient :>

1. We can use `if` statement in one line with the `if-else` statement. This is called a **ternary operator**.
   \
   แปล: เราสามารถใช้ `if` statement ในบรรทัดเดียวกับ `if-else` statement ซึ่งเรียกว่า **ternary operator**

format:

```python
value if condition else value
```

it equivalent to:

```python
if condition:
    # value if condition is True
else:
    # value if condition is False
```

In [ ]:
# ternary form
a = "foo" if 1 == 1 else "bar" # a is foo when 1 is equal to 1 otherwise a is bar
print(a) # foo

# common form
if 1 == 1:
    a = "foo"
else:
    a = "bar"
print(a) # foo

2. You can create a list using a for loop in one line. This is called a **list comprehension**.
   \
   แปล: คุณสามารถสร้าง list โดยใช้ for loop ในบรรทัดเดียวกัน ซึ่งเรียกว่า **list comprehension**

format:

```python
variable = [expression for item in iterable]
```

it equivalent to:

```python
variable = []

for item in iterable:
    variable.append(expression)
```

In [ ]:
# create list using list comprehension
a = [i for i in range(0, 10)] # a is [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# create list using list comprehension with condition
b = [i for i in range(0, 10) if i % 2 == 0] # will only add even number to the list

# create list using list comprehension with condition and else
c = [i if i % 2 == 0 else "odd" for i in range(0, 10)] # will add even number to the list and add odd string to the list if the number is odd

print(a) # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(b) # [0, 2, 4, 6, 8]
print(c) # [0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

Dictionary comprehension is similar to list comprehension, but it uses curly brackets `{}` instead of square brackets `[]`. and pair of key and value separated by `:` instead of `expression`.
\
แปล: Dictionary comprehension คล้ายกับ list comprehension แต่ใช้วงเล็บปีกกา `{}` แทนวงเล็บเหลี่ยม `[]` และคู่ของ key และ value คั่นด้วย `:` แทน `expression`

In [ ]:
# create dictionary using dictionary comprehension
a = {i: i*2 for i in range(0, 10)} # key of the dictionary is the number and the value is the number multiply by 2

print(a)

## Exercise for Loop and Condition

1. Create a list that contains the number from 1 to 10 using a for loop in one line.

In [ ]:
# 1. Create a list that contains the number from 1 to 10 using a for loop in one line.(~1 line of code)
a = None

print(a) # [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Create a list that contains the square of the number from 1 to 10 using a list comprehension.

In [ ]:
# 2. Create a list that contains the square of the number from 1 to 10 using a list comprehension.
a = None

print(a) # [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

3. complete the function `is_prime` that check if the number is prime or not. The function should return `True` if the number is prime, otherwise `False`.

In [ ]:
# 3. complete the function `is_prime` that check if the number is prime or not. The function should return `True` if the number is prime, otherwise `False`.

def is_prime(n):
    if YOURCODEHERE: 
        return False
    for i in YOURCODEHERE: # hint: use range function
        if n % i == 0:
            return False
    return True

4. complete the loop code. The loop should print value that first word in sentence is start by 'a' or 'A'.

In [ ]:
# 4. complete the loop code. The loop should print value that first word in sentence is start by 'a' or 'A'.

sentences = [
    "apple is good",
    "banana is yellow",
    "An apple a day keeps the doctor away",
    "A quick brown fox jumps over the lazy dog",
    "cherry is red"
]

for sentence in sentences:
    words = sentence.split()
    if YOURCODEHERE: # hint: select the first word and make it .lowercase() and use .startswith() method
        print(sentence) # apple is good, An apple a day keeps the doctor away, A quick brown fox jumps over the lazy dog

---

# Function

A function is a block of code which only runs when it is called.
\
You can pass data, known as parameters, into a function.
\
A function can return data as a result.
\
\
แปล: ฟังก์ชั่นคือโค้ดที่จะสามารถทำงานได้ เมื่อมีการเรียกใช้งานตัวฟังก์ชั่น โดยเราสามารถส่งข้อมูลที่เรียกว่าพารามิเตอร์เข้าไปในฟังก์ชั่นได้ และฟังก์ชั่นสามารถส่งข้อมูลกลับมาเป็นผลลัพธ์ได้เช่นกัน

Structure of function in python:

```python
def function_name(parameters):
    # code block of function
    ...
    return value # optional if you want to return a value, otherwise you can skip it and the function will return None

function_name(arguments) # call the function
```

In [ ]:
def hello(): # function definition
    print("Hello, World!") # function body
    print("Hello, World!") # function body
    print("Hello, World!") # function body
    
hello() # function call

You can pass data, known as parameters, into a function.

In [ ]:
def add(a, b): # function definition with 2 parameters
    return a + b # return the sum of a and b

result = add(5, 10) # function call with 2 arguments

print(result) # 15

**Additional trip I**: In the real world, Maybe you want to know the type of input.
\
The structure will update to:

```python
def function_name(parameters: type) -> type:
    # code block of function
    ...
    return value # optional if you want to return a value, otherwise you can skip it and the function will return None

function_name(arguments) # call the function
```

you can move your cursor to the function name you will see information of the function like this
\
<img src=""/>

In [35]:
# typed function 
def add(a: int, b: int) -> int: # function definition with 2 parameters and return type
    return a + b # return the sum of a and b

and you can explain your function ussing `docstring` by using `"""` or `'''` like this:

```python
def function_name(parameters: type) -> type:
    """
    Explain your function here
    """
    # code block of function
    ...
    return value # optional if you want to return a value, otherwise you can skip it and the function will return None
```

when you cursor move to the function name you will see the explanation of the function like this
\
<img src=""/>

In [36]:
# typed function with docstring
def add(a: int, b: int) -> int: # function definition with 2 parameters and return type
    """
    This function will add 2 numbers together
    """
    return a + b # return the sum of a and b

### Special Trick: Unpacking data in function

We can pass `*` before the variable name to unpack the data in the function. and we can pass `**` before the variable name to unpack the dictionary data in the function.
\
แปล: เราสามารถใส่ `*` ก่อนชื่อตัวแปรเพื่อแยกข้อมูลในฟังก์ชั่น และเราสามารถใส่ `**` ก่อนชื่อตัวแปรเพื่อแยกข้อมูลใน dictionary ในฟังก์ชั่น

In [ ]:
def print_kwargs(**kwargs):
    """
    This function accepts any number of keyword arguments and prints them.
    """
    for key, value in kwargs.items():
        print(f"{key}: {value}")

# Example usage
print_kwargs(name="John", age=36, country="Norway")

Like the other programming language. We can set the default value for the parameter in the function.But the default value must place<span style="color:red"> after</span> the non-default value
\
แปล: เหมือนกับภาษาโปรแกรมอื่นๆ เราสามารถกำหนดค่าเริ่มต้นให้กับพารามิเตอร์ในฟังก์ชั่น แต่ค่าเริ่มต้นจะต้องอยู่<span style="color:red">หลัง</span>ค่าที่ไม่ได้กำหนดค่าเริ่มต้น

In [ ]:
def default_value(a=10, b): # it will raise a syntax error
    return a

In [39]:
def default_value(a, b=20): # it will not raise a syntax error
    return a

---

# Numpy

NumPy is a Python library used for working with arrays.
It also has functions for working in domain of linear algebra, fourier transform, and matrices.
(NumPy stands for Numerical Python)

NumPy aims to provide an array object that is up to 50x faster than traditional Python lists

The array object in NumPy is called ndarray, it provides a lot of supporting functions that make working with ndarray very easy.

## Getting Start

### Installation of NumPy

In [ ]:
# !pip install numpy

In [ ]:
import numpy as np
print(np.__version__)

## Create Array using numpy

In [ ]:
arr = np.array([1, 2, 3, 4, 5]) # Create array using numpy

print(arr)

print(type(arr))

## NumPy Array Indexing

In [ ]:
arr = np.array([1, 2, 3, 4])

print(arr[0]) # Access persific location of information from array

## Slicing arrays

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[1:5]) # Access persific location of information from __ to __

## NumPy Data Types

i - integer

b - boolean

u - unsigned integer

f - float

c - complex float

m - timedelta

M - datetime

O - object

S - string

U - unicode string

V - fixed chunk of memory for other type ( void )

In [ ]:
arr = np.array([1, 2, 3, 4]) # Create int array

print(arr.dtype)

In [ ]:
arr = np.array(['apple', 'banana', 'cherry']) # Create string array

print(arr.dtype)

In [ ]:
arr = np.array([1, 2, 3, 4], dtype='i4') # Create 4 bytes integer

print(arr)
print(arr.dtype)

## NumPy Array Copy vs View

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
x = arr.copy() # Copy from original, edting will not effect
arr[0] = 42

print(arr)
print(x)

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
x = arr.view() # Clone from original and editting will effect
arr[0] = 42

print(arr)
print(x)

## NumPy Array Shape

In [ ]:
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])

# [1, 2, 3, 4]
# [5, 6, 7, 8]
# 2x4 metrix

print(arr.shape)

## NumPy Array Reshaping

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

newarr = arr.reshape(4, 3) # New shape for reshaping

print ("Original Array:\n",arr)
print("Net reshaped Array:\n",newarr)

## NumPy Array Iterating

In [ ]:
arr = np.array([1, 2, 3])

for x in arr: # Array elements in arrays using temporary integer
  print(x)

## NumPy Joining Array

In [ ]:
arr1 = np.array([1, 2, 3])

arr2 = np.array([4, 5, 6])

arr = np.concatenate((arr1, arr2)) # Put together arrays

print("arr1:\n",arr1)
print("arr2:\n",arr2)
print("new arr:\n",arr)

In [ ]:
arr1 = np.array([[1, 2], [3, 4]])

arr2 = np.array([[5, 6], [7, 8]])

arr = np.concatenate((arr1, arr2), axis=1)

print("arr1:\n",arr1)
print("arr2:\n",arr2)
print("new arr:\n",arr)

## NumPy Splitting Array

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6])

newarr = np.array_split(arr, 3) # Split into 3 arrays

print(newarr)

## NumPy Searching Arrays

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 4, 4])

x = np.where(arr == 4) # Search where is the location of 4 in the array

print(x)

## NumPy Sorting Arrays

In [ ]:
arr = np.array([3, 2, 0, 1])

print(np.sort(arr))

In [ ]:
arr = np.array(['banana', 'cherry', 'apple'])

print(np.sort(arr))

In [ ]:
arr = np.array([True, False, True])

print(np.sort(arr))

In [ ]:
arr = np.array([[3, 2, 4], [5, 0, 1]])

print(np.sort(arr))

## NumPy Filter Array

In [ ]:
arr = np.array([41, 42, 43, 44])

x = [True, False, True, False]

newarr = arr[x]

print(newarr)

In [ ]:
arr = np.array([41, 42, 43, 44])

filter_arr = arr > 42

newarr = arr[filter_arr]

print(newarr)

## Exercies

In [ ]:
# Task: Create a random integer array, compute mean, sum, and element-wise multiplication
def numpy_exercise():
    array1 = __
    array2 = __
    
    print("Array 1:", __)
    print("Array 2:", __)
    print("Mean of Array 1:", __)
    print("Sum of Array 1:", __)
    print("Element-wise multiplication:", __)

# Call the function to see the output
numpy_exercise()

---

# Pandas

Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in data science.

### Installation of Pandas

In [ ]:
# !pip install pandas

In [ ]:
import pandas as pd
print(pd.__version__)

## Pandas Series

In [ ]:
a = [1, 7, 2]

myvar = pd.Series(a) # Make a series using pandas

print(myvar)

In [ ]:
a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"]) # Make a series using pandas with index

print(myvar)

## What is a DataFrame?

In [ ]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

In [ ]:
#refer to the row index:
print(df.loc[0])

In [ ]:
#use a list of indexes:
print(df.loc[[0, 1]])

In [ ]:

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"]) # Set row name as day (String)

print(df)

## Pandas Read CSV

In [ ]:
df = pd.read_csv('data.csv')

print(df)

In [ ]:
pd.options.display.max_rows = 10 # set the maximum dispaly row to the dataframe

df = pd.read_csv('data.csv')

print(df)

## Pandas Read JSON

In [ ]:
df = pd.read_json('data.json')

print(df.to_string())

In [ ]:
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

## Pandas - Analyzing DataFrames

In [ ]:
df = pd.read_csv('data.csv')

print(df.head()) # FIrst five rows

In [ ]:
print(df.tail()) # Last five rows

In [ ]:
print(df.info()) # Basic information of dataframe

In [ ]:
df.describe()

There is a lot of function you can play with pandas dataframes
(Take a look here: https://www.w3schools.com/python/pandas/pandas_ref_dataframe.asp)

### DF.GROUPBY(☠️) // Spacial function that every one hate

In [ ]:
data = {
  'co2': [95, 90, 99, 104, 105, 94, 99, 104],
  'model': ['Citigo', 'Fabia', 'Fiesta', 'Rapid', 'Focus', 'Mondeo', 'Octavia', 'B-Max'],
  'car': ['Skoda', 'Skoda', 'Ford', 'Skoda', 'Ford', 'Ford', 'Skoda', 'Ford']
}

df = pd.DataFrame(data)

print(df.groupby(["car"]).mean()) # Find mean of each car on the co2

## Exercies

In [ ]:
# Task: Load CSV, clean data, compute summary statistics
def pandas_exercise():
    data = {
        'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'Score': [85, 90, 95, 100]
    }
    df = __ # Create Dataframe
    
    print("Original DataFrame:")
    print(df)
    
    # Cleaning: Adding a new column to see people who got score more than 90
    ___
    
    # Summary statistics
    print("\nSummary Statistics:")
    print(df.describe())
    print("\nDataFrame with 'Passed' column:")
    print(df)

# Call the function to see the output
pandas_exercise()

##

---

# Matplotlib

Matplotlib is a low level graph plotting library in python that serves as a visualization utility.

Matplotlib was created by John D. Hunter.

Matplotlib is open source and we can use it freely.

Matplotlib is mostly written in python, a few segments are written in C, Objective-C and Javascript for Platform compatibility.

### Installation of Matplotlib

In [ ]:
# !pip install matplotlib

In [ ]:
import matplotlib as plt
print(plt.__version__)

import numpy as np

## Matplotlib Pyplot

In [ ]:
import matplotlib.pyplot as plt

xpoints = np.array([0, 6])
ypoints = np.array([0, 250])

plt.plot(xpoints, ypoints)
plt.show()

## Matplotlib Plotting

In [ ]:
xpoints = np.array([1, 8])
ypoints = np.array([3, 10])

plt.plot(xpoints, ypoints, 'o')
plt.show()

In [ ]:
xpoints = np.array([1, 2, 6, 8])
ypoints = np.array([3, 8, 1, 10])

plt.plot(xpoints, ypoints)
plt.show()

In [ ]:
ypoints = np.array([3, 8, 1, 10, 5, 7])

plt.plot(ypoints) # Not defined x-point, use default values 0, 1, 2, 3 etc.,
plt.show()

## Matplotlib Markers

Marker Syntax
'o' Circle

'\*' Star

'.' Point

',' Pixel

'x' X

'X' X (filled)

'+' Plus

'P' Plus (filled)

's' Square

'D' Diamond

'd' Diamond (thin)

'p' Pentagon

'H' Hexagon

'h' Hexagon

'v' Triangle Down

'^' Triangle Up

'<' Triangle Left

'>' Triangle Right

'1' Tri Down

'2' Tri Up

'3' Tri Left

'4' Tri Right

'|' Vline

'\_' Hline

Line Syntax

'-' Solid line

':' Dotted line

'--' Dashed line

'-.' Dashed/dotted line

Color Syntax

'r' Red

'g' Green

'b' Blue

'c' Cyan

'm' Magenta

'y' Yellow

'k' Black

'w' White

In [ ]:
ypoints = np.array([3, 8, 1, 10])

plt.plot(ypoints, 'x:r')
plt.show()

In [ ]:
ypoints = np.array([3, 8, 1, 10])

plt.plot(ypoints, marker = 'o', ms = 20) # marker size
plt.show()

In [ ]:
ypoints = np.array([3, 8, 1, 10])

plt.plot(ypoints, marker = 'o', ms = 20, mec = 'r') # marker size and outline color
plt.show()

## Matplotlib Line

Style

'solid' (default) '-'

'dotted' ':'

'dashed' '--'

'dashdot' '-.'

'None' '' or ' '

In [ ]:
ypoints = np.array([3, 8, 1, 10])

plt.plot(ypoints, linestyle = 'dotted')
plt.show()

## Matplotlib Labels and Title

In [ ]:
x = np.array([80, 85, 90, 95, 100, 105, 110, 115, 120, 125])
y = np.array([240, 250, 260, 270, 280, 290, 300, 310, 320, 330])

plt.plot(x, y)

plt.title("Sports Watch Data")
plt.xlabel("Average Pulse")
plt.ylabel("Calorie Burnage")

plt.show()

## Matplotlib Adding Grid Lines

In [ ]:
x = np.array([80, 85, 90, 95, 100, 105, 110, 115, 120, 125])
y = np.array([240, 250, 260, 270, 280, 290, 300, 310, 320, 330])

plt.title("Sports Watch Data")
plt.xlabel("Average Pulse")
plt.ylabel("Calorie Burnage")

plt.plot(x, y)

plt.grid()

plt.show()

In [ ]:
x = np.array([80, 85, 90, 95, 100, 105, 110, 115, 120, 125])
y = np.array([240, 250, 260, 270, 280, 290, 300, 310, 320, 330])

plt.title("Sports Watch Data")
plt.xlabel("Average Pulse")
plt.ylabel("Calorie Burnage")

plt.plot(x, y)

plt.grid(axis = 'y')

plt.show()

## Matplotlib Subplot

In [ ]:

#plot 1:
x = np.array([0, 1, 2, 3])
y = np.array([3, 8, 1, 10])

plt.subplot(1, 2, 1)
plt.plot(x,y)

#plot 2:
x = np.array([0, 1, 2, 3])
y = np.array([10, 20, 30, 40])

plt.subplot(1, 2, 2)
plt.plot(x,y)

plt.show()

## Matplotlib Scatter

In [ ]:
x = np.array([5,7,8,7,2,17,2,9,4,11,12,9,6])
y = np.array([99,86,87,88,111,86,103,87,94,78,77,85,86])

plt.scatter(x, y)
plt.show()

In [ ]:
#day one, the age and speed of 13 cars:
x = np.array([5,7,8,7,2,17,2,9,4,11,12,9,6])
y = np.array([99,86,87,88,111,86,103,87,94,78,77,85,86])
plt.scatter(x, y)

#day two, the age and speed of 15 cars:
x = np.array([2,2,8,1,15,8,12,9,7,3,11,4,7,14,12])
y = np.array([100,105,84,105,90,99,90,95,94,100,79,112,91,80,85])
plt.scatter(x, y)

plt.show()

In [ ]:
x = np.array([5,7,8,7,2,17,2,9,4,11,12,9,6])
y = np.array([99,86,87,88,111,86,103,87,94,78,77,85,86])
colors = np.array(["red","green","blue","yellow","pink","black","orange","purple","beige","brown","gray","cyan","magenta"])

plt.scatter(x, y, c=colors)

plt.show()

In [ ]:
x = np.array([5,7,8,7,2,17,2,9,4,11,12,9,6])
y = np.array([99,86,87,88,111,86,103,87,94,78,77,85,86])
colors = np.array([0, 10, 20, 30, 40, 45, 50, 55, 60, 70, 80, 90, 100])

plt.scatter(x, y, c=colors, cmap='viridis')

plt.colorbar()

plt.show()

## Matplotlib Bars

In [ ]:
x = np.array(["A", "B", "C", "D"])
y = np.array([3, 8, 1, 10])

plt.bar(x,y)
plt.show()

In [ ]:
x = np.array(["A", "B", "C", "D"])
y = np.array([3, 8, 1, 10])

plt.barh(x, y)
plt.show()

## Matplotlib Histograms

In [ ]:
x = np.random.normal(170, 10, 250)

print(x)

In [ ]:
plt.hist(x)
plt.show()

## Matplotlib Pie Charts

In [ ]:
y = np.array([35, 25, 25, 15])

plt.pie(y)
plt.show()

In [ ]:
y = np.array([35, 25, 25, 15])
mylabels = ["Apples", "Bananas", "Cherries", "Dates"]

plt.pie(y, labels = mylabels)
plt.show()

In [ ]:
y = np.array([35, 25, 25, 15])
mylabels = ["Apples", "Bananas", "Cherries", "Dates"]
myexplode = [0.2, 0, 0, 0]

plt.pie(y, labels = mylabels, explode = myexplode)
plt.show()

There is a lot to explore out there, go and do it yourself.
(https://www.w3schools.com/python/matplotlib_intro.asp)

## Exercies

In [ ]:
# Matplotlib Exercise: Data Visualization
import matplotlib.pyplot as plt

# Task: Generate a line plot and a scatter plot
def matplotlib_exercise():
    x = [1, 2, 3, 4, 5]
    y = [2, 4, 6, 8, 10]
    
    plt.figure(figsize=(10, 5))
    
    # Line plot
    ___
    
    # Scatter plot
    __cached__

# Call the function to see the plots
matplotlib_exercise()

## Combine all 3 libraries exercies

In [ ]:
# Combined Exercise: NumPy, Pandas, and Matplotlib
def combined_exercise():
    # Step 1: Load dataset with Pandas
    data = {
        'Date': pd.date_range(start='2023-01-01', periods=10),
        'Value': np.random.randint(50, 150, size=10)
    }
    df = __ # Create dataframe
    
    print("Original DataFrame:")
    print(df)
    
    # Step 2: Calculate moving average using NumPy (hint: rolling window 3 , mean)
    ___
    
    # Step 3: Visualize with Matplotlib
    ___

# Call the function to see the results
combined_exercise()